<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>View Personal Info</title>
  {% load static %}
  <link rel='stylesheet' href="{% static "stylesheets/mystyle.css" %}" type='text/css' >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>
  input {
    min-width: 500px;
  }
</style>
</head>

<body>
  <div id='header'>
    <span id='client_info'>Hello, {{user.username}} </span>

    <span id='website_title'>View Personal Info</span>
  </div>

  <div id='content'>
    
    <div id='personal' style='width: 20%'>

        <div style="margin-left: 40px;"><h3>Personal Info</h3></div>
        <div id='profile'>
            <div class='myButton' id='profile_btn'>
                {{user.username}}
            </div>
            {% for user in user_list %}
            <div class='myButton'>Role: {{user.role}}</div>
            {% endfor %}
        </div>
        <hr style="border: 1px solid black;" />

        <ul id='personal_list' style='list-style-type: none'> 
            <li class='myButton'> 
              <a href="" style="background-color: #adadad">Personal Information</a>
            </li> 
        </ul> 

      </div>

      <div id="side" style='width: 95%;'>

        <form action="/asp/change_info" method="GET">

        <ul style='list-style-type: none; font-size: x-large;' >

          {% for user in user_list %}
          <li style="margin-top: 20px;" onclick="cannotChange1(this)">
              Username: <input id="name" type="text" value="{{user.username}}" disabled > <span id="namemsg"></span>       
          </li>

          <li style="margin-top: 20px;">
              Password: <input name="password" type="password" value="{{user.password}}"> 
          </li>

          <li style="margin-top: 20px;">
              Firstname: <input type="text" name="firstname" value="{{user.firstname}}">       
          </li>

          <li style="margin-top: 20px;">
              Lastname: <input type="text" name="lastname" value="{{user.lastname}}">     
          </li>

          <li style="margin-top: 20px;">
              Email : <input type="text" name="email" value="{{user.email}}">     
          </li>

          <li style="margin-top: 20px;" onclick="cannotChange2(this)">
              Role : <input id="role" name="role"  type="text" value="{{user.role}}" disabled>  <span id="rolemsg"></span>
          </li>

          {% if user.clinic_id.clinic_name %}

          <li style="margin-top: 20px;">
              Clinic Name : <input type="text" name="clinic_name" value="{{user.clinic_id.clinic_name}}">     
          </li>  

          <li style="margin-top: 20px;">
              Clinic Address : <input type="text" name="clinic_address" value="{{user.clinic_id.clinic_address}}">     
          </li>    

          {% endif %}

          <li>
            <input type="hidden" name="username" value="{{user.username}}">
          </li>

          <li style="margin-top: 20px;" onclick="changeInfo(elem)">
             <input type="submit"> 
          </li>  

          {% endfor %}  

        </ul>

        </form>
      </div>

</div>
  
  <script>

  modified1 = false;
  modified2 = false;
  modified3 = false;

  function cannotChange1(elem){
    if (!modified1){
      elem.innerHTML += "Cannot be changed!";
      modified1 = true;
    }
  }

  function cannotChange2(elem){
    if (!modified2){
      elem.innerHTML += "Cannot be changed!";
      modified2 = true;
    }

  function viewHome(id,role){
    $('<form action="/asp/view_home" method="GET"/>')
        .append($('<input type="hidden" name="id" value="' + id + '">'))
        .append($('<input type="hidden" name="role" value="' + role + '">'))
        .appendTo($(document.body)) //it has to be added somewhere into the <body>
        .submit();
  }
  
}
</script>
</body>
</html>
