<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Clinic Manager View Orders Page</title>
{% load static %}
<link rel='stylesheet' href="{% static "stylesheets/mystyle.css" %}" type='text/css'>
<style>
#orders {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#orders td, #Porders th {
    border: 1px solid #ddd;
    padding: 8px;
}

#orders tr:nth-child(even){background-color: #f2f2f2;}

#orders tr:hover {background-color: #ddd;}

#orders th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}
</style>
</head>
<body>
    <div id='header' style="margin-bottom: 20px">
        <span id='dispatcher_info'>Hello, {{user.username}} </span>
        <span id='website_title'>{{user.firstname}}'s Orders</span>
      </div>
    <div id='personal' style='width: 20%'>

        <div style="margin-left: 40px;"><h3>Personal Info</h3></div>
        <div id='profile'>
            <div class='myButton' id='profile_btn'>
                {{user.username}}
            </div>
            <div class='myButton'>Role: {{user.role}}</div>
        </div>
        <hr style="border: 1px solid black;" />

        <ul id='personal_list' style='list-style-type: none'> 
            <li class='myButton'> 
              <a href="">Personal Information</a>
            </li> 
            <li class='myButton'>
              <a href="home/1">Home</a>
            </li> 
            <li class='myButton'>
              <a href="view_order">View Orders</a>
            </li>
        </ul> 

      </div>

    <div style="width: 75%; float: right;">
        <h3>Processing Orders</h3>
        <table id="orders">
          <tr>
            <th>Order ID</th>
            <th>Priority</th>
            <th>Weight</th>
            <th>Order Details</th>
            <th>Status</th>
            <th>Operation</th>
          </tr>
          {% for order in processing_orders %}
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.priority}}</td>
            <td>{{order.weight}}</td>
            <td>Under Construction</td>
            <td>{{order.status}}</td>
            <td>
                <button onclick="location.href='/asp/clinic_manager/{{user.id}}/confirm_order/{{order.id}}'">Delivered</button>
                {% if order.status == 'QFP' %}
                    <button onclick="location.href='/asp/clinic_manager/{{user.id}}/cancel_order/{{order.id}}'">Cancel</button>
                {% endif %}
            </td>
          </tr>
          {% endfor %} 
        </table>

        <h3>Other Orders</h3>
        <table id="orders">
          <tr>
            <th>Order ID</th>
            <th>Priority</th>
            <th>Weight</th>
            <th>Order Details</th>
            <th>Status</th>
            <th>Delivered/Canceled Time</th>
          </tr>
          {% for order in other_orders %}
          <tr>
            <td>{{order.id}}</td>
            <td>{{order.priority}}</td>
            <td>{{order.weight}}</td>
            <td>Under Construction</td>
            <td>{{order.status}}</td>
            <td>
                {% if order.status == 'CA' %}
                    {{order.canceled_time}}
                {% endif %}
                {% if order.status == 'DE' %}
                    {{order.dilivered_time}}
                {% endif %}
            </td>
          </tr>
          {% endfor %} 
        </table>
    </div>
</body>
