<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>View Item Info</title>
  {% load static %}
  <link rel='stylesheet' href="{% static "stylesheets/mystyle.css" %}" type='text/css' >
</head>

<body>
  <div id='header'>

    <span id='website_title'>View Item Info</span>
  </div>

  <div id='content'>

        <table id='item_display' style='border-style: hidden; font-size: large; margin-top: 100px;'>

            <tr>
                <th align="center">Photo</th>
                <th align="center">Name</th> 
                <th align="center">Category</th>
                <th align="right">Description</th>
                <th align="right">Weight</th>
            </tr>

            {% for item in item_list %} 
          <tr id='{{item.pk}}'>
            {% load static %}

            <td>
              <img src="{% static "" %}{{item.photo_url}}" class='myButton' onclick='loadItemInfo(item)' >
            </td>

            <td>{{item.item_name}}</td>

            <td>{{item.category.category_name}}</td>

              <td>
              {{item.item_description}} 
              </td>

              <td>
                {{item.weight}}KG
              </td>

          </tr>
            {% empty %} 
            <tr>
              <td>Items not available.</td>
            </tr> 
            {% endfor %} 
        </ul>

</div>

{% load static %}
<script src="{% static "javascripts/myscripts.js" %}" type="text/javascript">
</script>
  
</body>
</html>

