<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>View Order Details</title>
  {% load static %}
  <link rel='stylesheet' href="{% static "stylesheets/mystyle.css" %}" type='text/css' >
</head>

<body>
  <div id='header'>

    <span id='website_title'>View Order Details</span>
  </div>

  <div id='content'>

        <table  style='font-size: large'>

          <tr>
            <th>Number of Items</th>
            <th>Total Weight</th>
            <th>Order Priority</th>
          </tr>

          <tr>
            <td>{{num_order}}</td>
            <td>{{new_weight}} KG</td>
            <td>{{new_priority}}</td>
          </tr>

        </table>

        <ul id='bookInfo_display' style='list-style-type: none; font-size: x-large; margin-top: 50px; float: left'>

            <li>Photo</li>

            {% for photo in photo_list %} 
          
          {% load static %}

            <li>
              <img src="{% static "" %}{{photo}}" class='myButton' >
            </li>
            {% endfor %} 

        </ul>

        <ul id='bookInfo_display' style='list-style-type: none; font-size: x-large; margin-top: 50px; float: left'>

          <li>Name</li>

            {% for name in item_list %} 
          <li style="margin-top: 100px">{{name}}</li>
            {% empty %} 
          <li>not available</li>
            {% endfor %} 

        </ul>

        <ul id='bookInfo_display' style='list-style-type: none; font-size: x-large; margin-top: 50px; float: left'>

          <li>Quantity</li>

            {% for quantity in quantity_list %} 
          <li style="margin-top: 100px">{{quantity}}</li>
            {% empty %} 
          <li>not available</li>
            {% endfor %} 
            
        </ul>

        <div id='foot' style="margin-left: 800px; margin-top: 400px">
           
          <span id='view_order' class='myButton' onclick="location.href='http://127.0.0.1:8000/asp/clinic_manager/{{user_id}}/view_order'"> To View Order Page</span>

        </div>


</div>

{% load static %}
<script src="{% static "javascripts/myscripts.js" %}" type="text/javascript">
</script>
  
</body>
</html>

