<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Set new password</title>
  {% load static %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<style>

body {
  padding: 0 0em;
  font-family: Montserrat, sans-serif;
  font: 120% Arial,Helvetica,sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  color: #444;
  background: #eee;
}

h1 {
  font-weight: normal;
  letter-spacing: -1px;
  color: #34495E;
}

input{
    font: 120% Arial,Helvetica,sans-serif;
    width:298px;
    background-color: lightblue
}

</style>
</head>

<body>

{% block content %}
<h1>Set a new password!</h1>
<form method="POST">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" value="Change my password">
</form>
{% endblock %}