<html>

<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Reset Password</title>
  {% load static %}
  <link rel='stylesheet' href="{% static "stylesheets/mystyle.css" %}" type='text/css' >
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<body>

{% block content %}
  <h1>Forgot your password?</h1>
  <p>Enter your email address below, and we'll email instructions for setting a new one.</p>

  <form method="POST">
    {% csrf_token %}
    {{ form.as_p }}
    <input style="margin-left: 520px" type="submit" value="Send me instructions!">
  </form>
</div>
{% endblock %}
